################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SEDOLValidator/bin/Debug/netcoreapp3.1
/SEDOLValidator/obj
/SEDOLValidatorTests/obj
/SEDOLValidatorTests/bin/Debug/netcoreapp3.1
/.vs
